@page "/"
@using frontend.Model
@using System.Net.Http
@inject HttpClient Http

<h1>Create a new short URL!</h1>

<form class="form-horizontal">
  <fieldset>


    <!-- Text input-->
    <div class="form-group">
      <div class="col-md-4">
        <input id="Url" name="Url" type="text" placeholder="https://bing.com" @bind="Url" class="form-control input-md"
required="">
      </div>
    </div>

    <!-- Button Drop Down -->
    <div class="col-md-4 control-label">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <select class="form-control select2bs4" name="shortUrlDomain" @bind="Domain" id="shortUrlDomain"
style="width: 100%">
            <option disabled selected value> -- select an option -- </option>
            @if (Domains != null)
            {
              @foreach (var domain in Domains)
              {
                <option value="@domain.RowKey">@domain.Domain</option>
              }

            }
            else
            {
              <option value="">Loading</option>
            }
          </select>
        </div>
        <input type="text" name="shortUrl" class="form-control" @bind="ShortUrl" placeholder="shrt">
      </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4">
        <a id="create" name="create" class="btn btn-success" @onclick="CreateShortUrlAsync">Create</a>
      </div>
    </div>

  </fieldset>
</form>

@if (ErrorMessage != string.Empty)
{
  <div class="alert alert-danger" role="alert">
    @ErrorMessage
  </div>
}


@code {
  private string Url;
  private string ShortUrl;
  private string Domain;

  private string ErrorMessage = string.Empty;

  private List<DomainObject> Domains;

  protected override async Task OnInitializedAsync()
  {
    Domains = await Http.GetFromJsonAsync<List<DomainObject>>("/api/GetDomains").ConfigureAwait(false);
  }

  public async Task CreateShortUrlAsync()
  {
    if (Url != null && ShortUrl != null && Domain != null)
    {
      ShortUrlRequest request = new ShortUrlRequest()
      {
        Url = this.Url,
        ShortUrl = this.ShortUrl,
        Domain = this.Domain
      };

      var response = await Http.PostAsJsonAsync("/api/Ingest/", request).ConfigureAwait(false);

      if (response.StatusCode == System.Net.HttpStatusCode.OK)
      {
        Url = string.Empty;
        ShortUrl = string.Empty;
        Domain = string.Empty;
      }
      else
      {
        ErrorMessage = "Something went wrong!"
          }
    }
  }
}