@page "/List"
@attribute [Authorize()]
@using frontend.Model
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject UrlShorterClient client;

@using System.Reflection;

<h1>Your shortlinks</h1>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    @foreach (var property in typeof(Model.ShortUrl).GetProperties())
                    {
                        <td>@property.Name</td>
                    }
                </tr>
            </thead>
            @foreach (var shortUrl in shortUrls)
            {
                @foreach (var property in shortUrl.GetType().GetProperties())
                {
                    <td>@property.GetValue(shortUrl)</td>
                }
                <td><button @onclick="@(() => Delete(shortUrl))" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Delete</button></td>
            }
        </table>
    </div>
</div>

@code {
    private List<Model.ShortUrl> shortUrls = new();

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh() 
    {
         try
        {
            shortUrls = await client.GetLinks().ConfigureAwait(false);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task Delete(ShortUrl shortUrl)
    {

        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the shortlink '{shortUrl.RowKey}'?"))
            return;

        await client.DeleteLink(shortUrl);
        await Refresh();
    }
}