@page "/List"
@attribute [Authorize()]
@using frontend.Model
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject UrlShorterClient client;

@using System.Reflection;

<h1>Your shortlinks</h1>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
                <tr>
                    @foreach (var property in typeof(Model.ShortUrl).GetProperties())
                    {
                        <td>@property.Name</td>
                    }
                </tr>
            </thead>
            @foreach (var shortUrl in shortUrls)
            {
                @foreach (var property in shortUrl.GetType().GetProperties())
                {
                    <td>@property.GetValue(shortUrl)</td>
                }
            }
        </table>
    </div>
</div>

@code {
    private List<Model.ShortUrl> shortUrls = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            shortUrls = await client.GetLinks().ConfigureAwait(false);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }
}